*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: 0 auto;
}

header .heading{
  display: flex;
  align-items:right;
  justify-content: flex-end;
}

.heading p ,.heading span{
  padding: 25px 5px;
}

main{
  margin: 20% 0;
}

main .card{
  width: 60%;
  margin: 0 auto;
  margin-left: 5px solid rgba(255, 255, 0, 0.747);
}

footer p{
  text-align: center;
}