*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: 0 auto;
}

header .heading{
  display: flex;
  align-items:center;
  justify-content: flex-end;
  padding: 25px 5px;
  cursor: pointer;
}

.heading p ,.heading span{
  font-size: 20px;
  text-align: center;
}

main{
  margin: 20% 0;
}

main .card{
  width: 60%;
  margin: 0 auto;
}

.card .quote{
  border-left: 5px solid #f7df94;
  padding-left :50px;
}

.card .details{
  margin:50px;
  padding: 25px 0;
  display: flex;
  justify-content:space-between;
}

.card .details div{
  padding: 15px;
}

.card .details div:nth-child(2){
  color: white;
}

.card .details:hover{
  background:#333333;
  color: #fff;
}

#link{
  text-decoration: none;
}

footer p{
  text-align: center;
}
